# Frontend Environment Variables
REACT_APP_SERVER_URL=http://localhost:8000
REACT_APP_GOOGLE_CLIENT_ID=your_google_client_id

# Backend Environment Variables
PORT=8000
BASE_URL=http://localhost:3000
SECRET=your_jwt_secret
MONGO_URL=your_mongodb_connection_string
